name: Test and Build

on: [push, pull_request]

jobs:
  test:

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest] #, windows-latest, macos-latest]
        python-version: [3.8] #3.7, 3.8
      
    runs-on: ${{ matrix.os }}
    
    name: Test ${{ matrix.os }} + Py ${{ matrix.python-version }} + ${{ github.ref }} + ${{github.base_ref}}

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install --no-dev
        ls
    - name: Unit tests with pytest
      run: |
        poetry install -E pytest-testing
        poetry run python -m pytest tests/unit --cov=bovheat_src --cov-report=xml:coverage_unit.xml
    - name: Integration tests with pytest
      run: |
        poetry run python -m pytest tests/integration --cov=bovheat_src --cov-report=xml:coverage_integration.xml
    - name: Upload unit coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage_unit.xml
        flags: unittests
        name: codecov-umbrella
        fail_ci_if_error: false
    - name: Upload integration coverage to Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: ./coverage_integration.xml
        flags: integration
        name: codecov-umbrella
        fail_ci_if_error: false

  build:
    needs: test
    if: github.ref == 'refs/heads/master' || github.base_ref == 'master'
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-18.04", windows-latest, macos-latest]
        python-version: [3.8] #3.7, 3.8

    runs-on: ${{ matrix.os }}

    name: Build ${{ matrix.os }} + Py ${{ matrix.python-version }}
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install poetry
        poetry install --no-dev
        poetry install -E pyinstaller
    - name: Create date env variable
      run: |
        echo "today=$(date +'%Y%m%d')" >> $GITHUB_ENV
      shell: bash
    - name: Build executable
      run: |
        poetry run pyinstaller bovheat_src/bovheat.py --onefile --paths . --osx-bundle-identifier org.bovheat.bovheat --icon bovheat_icon.ico --name BovHEAT_${{runner.os}}_${{env.today}}
    - name: Upload artifact ${{ matrix.os }}
      uses: actions/upload-artifact@v1
      with:
        name: BovHEAT_${{ runner.os }}_${{ env.today }}
        path: dist/